In [14]:
# Imports

from injector import Injector
import logging.config
import os
import sys

module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path)

from estimize.di.default_module import DefaultModule
    
injector = Injector([DefaultModule])

# Asset Info Service

In [15]:
from estimize.services import AssetInfoService

asset_info_service = injector.get(AssetInfoService)

aidf = asset_info_service.get_asset_info()
print('Num Assets: ', len(aidf))
display(aidf.head(5))

Num Assets:  2195

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cusip</th>
      <th>name</th>
      <th>sector</th>
      <th>industry</th>
    </tr>
    <tr>
      <th>asset</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equity(2731 [A])</th>
      <td>00846U101</td>
      <td>Agilent Technologies Inc.</td>
      <td>Health Care</td>
      <td>Life Sciences Tools &amp; Services</td>
    </tr>
    <tr>
      <th>Equity(2698 [AA])</th>
      <td>013872106</td>
      <td>Alcoa Corp.</td>
      <td>Materials</td>
      <td>Metals &amp; Mining</td>
    </tr>
    <tr>
      <th>Equity(111 [AAL])</th>
      <td>02376R102</td>
      <td>American Airlines Group Inc.</td>
      <td>Industrials</td>
      <td>Airlines</td>
    </tr>
    <tr>
      <th>Equity(8 [AAN])</th>
      <td>002535300</td>
      <td>Aaron's, Inc.</td>
      <td>Consumer Discretionary</td>
      <td>Specialty Retail</td>
    </tr>
    <tr>
      <th>Equity(161 [AAOI])</th>
      <td>03823U102</td>
      <td>Applied Optoelectronics, Inc.</td>
      <td>Information Technology</td>
      <td>Communications Equipment</td>
    </tr>
  </tbody>
</table>
</div>

# Asset Service

In [16]:
from estimize.services import AssetService

asset_service = injector.get(AssetService)

## get_asset

In [17]:
ticker = 'AAPL'
asset = asset_service.get_asset(ticker)
display(asset)

Equity(2697 [AAPL])

## get_assets

In [18]:
tickers = ['AAPL', 'MSFT', 'AMZN']
assets = asset_service.get_assets(tickers)
display(assets)

[Equity(2697 [AAPL]), Equity(3007 [MSFT]), Equity(2730 [AMZN])]

## get_moving_average

In [19]:
start_date = '2017-01-01'
end_date = '2017-02-01'
assets = asset_service.get_assets(tickers)
madf = asset_service.get_moving_average(start_date, end_date, assets)
display(madf.head(5))

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>moving_average</th>
    </tr>
    <tr>
      <th>as_of_date</th>
      <th>asset</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">2017-01-02</th>
      <th>Equity(2697 [AAPL])</th>
      <td>113.183950</td>
    </tr>
    <tr>
      <th>Equity(2730 [AMZN])</th>
      <td>783.699841</td>
    </tr>
    <tr>
      <th>Equity(3007 [MSFT])</th>
      <td>59.953090</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2017-01-03</th>
      <th>Equity(2697 [AAPL])</th>
      <td>113.250692</td>
    </tr>
    <tr>
      <th>Equity(2730 [AMZN])</th>
      <td>782.381270</td>
    </tr>
  </tbody>
</table>
</div>

## get_returns

In [20]:
rdf = asset_service.get_returns(start_date, end_date, assets)
display(rdf.head(5))

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>close_return</th>
      <th>open_return</th>
    </tr>
    <tr>
      <th>as_of_date</th>
      <th>asset</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">2017-01-02</th>
      <th>Equity(2697 [AAPL])</th>
      <td>-0.007796</td>
      <td>-0.007287</td>
    </tr>
    <tr>
      <th>Equity(2730 [AMZN])</th>
      <td>-0.019970</td>
      <td>-0.011155</td>
    </tr>
    <tr>
      <th>Equity(3007 [MSFT])</th>
      <td>-0.012083</td>
      <td>-0.002700</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2017-01-03</th>
      <th>Equity(2697 [AAPL])</th>
      <td>0.002849</td>
      <td>0.000432</td>
    </tr>
    <tr>
      <th>Equity(2730 [AMZN])</th>
      <td>0.005068</td>
      <td>0.000620</td>
    </tr>
  </tbody>
</table>
</div>

## get_universe

In [21]:
udf = asset_service.get_universe(start_date, end_date, assets)
display(udf.head(5))

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>latest_close</th>
    </tr>
    <tr>
      <th>as_of_date</th>
      <th>asset</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">2017-01-02</th>
      <th>Equity(2697 [AAPL])</th>
      <td>115.82</td>
    </tr>
    <tr>
      <th>Equity(2730 [AMZN])</th>
      <td>749.87</td>
    </tr>
    <tr>
      <th>Equity(3007 [MSFT])</th>
      <td>62.14</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2017-01-03</th>
      <th>Equity(2697 [AAPL])</th>
      <td>116.15</td>
    </tr>
    <tr>
      <th>Equity(2730 [AMZN])</th>
      <td>753.67</td>
    </tr>
  </tbody>
</table>
</div>

# Estimize Consensus Service

In [22]:
from estimize.services import EstimizeConsensusService

estimize_consensus_service = injector.get(EstimizeConsensusService)

## get_consensuses

In [23]:
ecdf = estimize_consensus_service.get_consensuses()
print('Num Rows: ', len(ecdf))
display(ecdf.head(5))

Num Rows:  1775602

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>fiscal_year</th>
      <th>fiscal_quarter</th>
      <th>reports_at_date</th>
      <th>estimize.eps.weighted</th>
      <th>estimize.eps.mean</th>
      <th>estimize.eps.high</th>
      <th>estimize.eps.low</th>
      <th>estimize.eps.sd</th>
      <th>estimize.eps.count</th>
      <th>estimize.revenue.weighted</th>
      <th>estimize.revenue.mean</th>
      <th>estimize.revenue.high</th>
      <th>estimize.revenue.low</th>
      <th>estimize.revenue.sd</th>
      <th>estimize.revenue.count</th>
      <th>wallstreet.eps</th>
      <th>wallstreet.revenue</th>
      <th>actual.eps</th>
      <th>actual.revenue</th>
      <th>bmo</th>
    </tr>
    <tr>
      <th>as_of_date</th>
      <th>asset</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2010-09-29</th>
      <th>Equity(2697 [AAPL])</th>
      <td>2010</td>
      <td>4</td>
      <td>2010-10-18</td>
      <td>0.673541</td>
      <td>0.673333</td>
      <td>0.71</td>
      <td>0.63</td>
      <td>0.032998</td>
      <td>3.0</td>
      <td>20207.998340</td>
      <td>20196.666667</td>
      <td>20560.0</td>
      <td>19530.0</td>
      <td>472.040488</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.66</td>
      <td>20343.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2010-09-30</th>
      <th>Equity(2697 [AAPL])</th>
      <td>2010</td>
      <td>4</td>
      <td>2010-10-18</td>
      <td>0.675347</td>
      <td>0.675000</td>
      <td>0.71</td>
      <td>0.63</td>
      <td>0.028723</td>
      <td>4.0</td>
      <td>20152.612119</td>
      <td>20150.000000</td>
      <td>20560.0</td>
      <td>19530.0</td>
      <td>416.713331</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.66</td>
      <td>20343.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2010-10-01</th>
      <th>Equity(2697 [AAPL])</th>
      <td>2010</td>
      <td>4</td>
      <td>2010-10-18</td>
      <td>0.680772</td>
      <td>0.674000</td>
      <td>0.71</td>
      <td>0.63</td>
      <td>0.025768</td>
      <td>5.0</td>
      <td>20531.597838</td>
      <td>20414.000000</td>
      <td>21470.0</td>
      <td>19530.0</td>
      <td>646.300240</td>
      <td>5.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.66</td>
      <td>20343.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2010-10-02</th>
      <th>Equity(2697 [AAPL])</th>
      <td>2010</td>
      <td>4</td>
      <td>2010-10-18</td>
      <td>0.680772</td>
      <td>0.674000</td>
      <td>0.71</td>
      <td>0.63</td>
      <td>0.025768</td>
      <td>5.0</td>
      <td>20531.597838</td>
      <td>20414.000000</td>
      <td>21470.0</td>
      <td>19530.0</td>
      <td>646.300240</td>
      <td>5.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.66</td>
      <td>20343.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2010-10-03</th>
      <th>Equity(2697 [AAPL])</th>
      <td>2010</td>
      <td>4</td>
      <td>2010-10-18</td>
      <td>0.680772</td>
      <td>0.674000</td>
      <td>0.71</td>
      <td>0.63</td>
      <td>0.025768</td>
      <td>5.0</td>
      <td>20531.597838</td>
      <td>20414.000000</td>
      <td>21470.0</td>
      <td>19530.0</td>
      <td>646.300240</td>
      <td>5.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.66</td>
      <td>20343.0</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>